.form-admin{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}


.form-admin input{
    width: 10%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.form-admin button{
    width: 10%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: whitesmoke;
}

.form-admin button:hover{
    background-color: rgb(201, 201, 201);
    transition: 0.2s;
}

.form-admin button:active{
    background-color: rgb(165, 165, 165);
}