*{
    margin: 0;
    padding: 0;
}

header{
    background: whitesmoke;
    height: 25px;
}

.header{
    display: flex;
    gap: 25px;
    justify-content: space-around;
}

.header li{
    list-style: none;
}